on:
  push:
    branches: [main]
  pull_request:
    types: [opened, reopened, synchronize]
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
name: checks
jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install rust (stable)
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: cargo fmt --check
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install rust (stable)
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: cargo clippy --all-targets --workspace
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install rust (stable)
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: cargo test --all-targets --workspace
